@import url('https://fonts.googleapis.com/css?family=Poppins');

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.modulos{
  display: flex;
  align-items: center;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%; 
  position: relative;
  padding: 0px; 
  text-align: center;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.margin {
  margin: 0 10px;
}

#content{ 
  padding: 100px;
  width: 60%;  
  padding: 0px; 
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
}
.button-close {
  background-color: #ff443d;
  text-transform: uppercase;
  color: white;
  border: none !important;
  float: right;
  font-size: small;
}

.full-width {
  width: 100%;
}

.button-gravar {
  background-color: rgb(61, 129, 255); 
  color: white;
  border: none !important;
  float: right; 
}

.button-add{
  background-color: rgb(18, 173, 78); 
  color: white;
  border: none !important;
  float: right; 
}

.acions{
  padding-bottom: 25px;
}  

.local{
  text-align: center;
  text-transform: uppercase;
  font-size: medium;
  font-weight: bold;
}  

.header {
  margin-top: 65px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #06af00;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}


/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]{
  background-color: #444146;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 120px; 
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px; 
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #2e2e2e;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  color: #0f0813;
}

input[type=text], input[type=password],input[type=number] {
  background-color: #f6f6f6;
  border: none;
  color: gray; 
  padding: 15px 10px; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus , input[type=password]:focus{ 
  background-color: #fff;
  border-bottom: 2px solid #14091a;
}

input[type=text]:placeholder, input[type=password]:placeholder { 
  color: #fff;
}


/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #636363;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

table {
  width: 100%;
}

tr.element-row:not(.expanded-row):hover {
  background: rgb(223, 223, 223);
}

tr.element-row:not(.expanded-row):active {
  background: #e9b8b8;
}

.element-row td {
  border-bottom-width: 0;
}
th{
  font-weight: bold;
}